.button{
	-fx-background-color: #281802;
	-fx-border-color: #8C714B;
	-fx-border-radius: 3;
	-fx-border-width: 3;
	-fx-text-fill: white;
	-fx-min-width: 100;
	
}

.root{
	-fx-background: #E0B87F;
	-fx-background-image: url("../../coffe.png");
	-fx-background-size: 30% 30%;
    -fx-background-repeat: no-repeat;
  	-fx-background-position: bottom center;
}

.label{
	-fx-color: #8C714B;
	-fx-font-size: 16;
}

.title{
	-fx-font-size: 24;
}